@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Header */

header img {
    margin:0;
    padding:0;
    width:100%;
    height:278px;
}

header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

header h1 {
    font-size: 54px;
    letter-spacing: 1.13px;
}

/* Section */

.wrapper {
    display:flex;
    justify-content: center;
    width:100%;
}

section {
    max-width:520px;
    width:100%;
}

.date {
    color:#9b9b9b;
    font-size:18px;
}