@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat');

body {
    margin:0;
    padding:0;
}

p {
    font-family: 'Crimson Text', serif;
}

h3 {
    font-family:'Montserrat', sans-serif;
    margin:0;
    padding:0;
}

/* Header */

header img {
    margin:0;
    padding:0;
    width:100%;
    height:278px;
}

header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

header h1 {
    font-size: 54px;
    letter-spacing: 1.13px;
}

/* Section */

.wrapper {
    display:flex;
    justify-content: center;
    width:100%;
}

section {
    max-width:520px;
    width:100%;
}

section p {
    font-size: 18px;
}

.date {
    color:#9b9b9b;
    font-family: 'Crimson Text', serif;
    font-size:18px;
}

.sub-header {
    font-size:24px;
}

.quote {
    float:left;
    width:60%;
}

blockquote p {
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
}

p.first {
    padding:0;
    margin:0;
}

p.first-bottom {
    padding:0;
    margin:0 0 20px 0;
}

/* Footer */
footer {
    margin:0;
    padding:0;
    background: #eeeeee;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:222px;
}

.author {
    display:flex;
    align-items: center;
    width:100%;
}

.profile img {
    width:128px;
    border-radius:50%;
}

.profile-details {
    margin:0 22px
}

.profile-details > p {
    padding:0;
    margin:0;
}

/* Carousel */

/* .carousel {
    display: flex;
    justify-content: center;
    padding:60px 0;
}

.carousel > img {
    width:490px;
    height:420px;
} */

#mainImage {
    width:490px;
    height:420px;
}


.img-thumbs
{
    width:100px;
    height:100px;
}
